<%= form_with(model: trademark, local: true) do |form| %>
  <% if trademark.errors.any? %>
    <script type="text/javascript">
      <% trademark.errors.full_messages.each do |message| %>
        toastr['error']('<%= message %>');
      <% end %>
    </script>
  <% end %>

  <div class="field">
    <%= form.text_field :name, :placeholder => "Nombre" %>
  </div>

  <div class="field">
    <%= form.collection_select :provider_id, Provider.all, :id, :to_s, {prompt: "Seleccionar Proveedor"}, {class: "select2 select-field"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
