<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trademark.name %>
</p>

<p>
  <strong>Hex code:</strong>
  <%= @trademark.hex_code %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @trademark.provider %>
</p>

<%= link_to 'Edit', edit_trademark_path(@trademark) %> |
<%= link_to 'Back', trademarks_path %>
