<%= form_with(model: way_pay, local: true) do |form| %>
  <% if way_pay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(way_pay.errors.count, "error") %> prohibited this way_pay from being saved:</h2>

      <ul>
      <% way_pay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="col-sm-12">
      <%= form.label :name, :class=>"form-simple-text" %>
      <%= form.text_field :name %>
    </div>
    <div class="col-sm-4">
      <%= form.label :c1, :class=>"form-simple-text" %>
      <%= form.text_field :c1 %>
    </div>
    <div class="col-sm-4">
      <%= form.label :c2, :class=>"form-simple-text" %>
      <%= form.text_field :c2 %>
    </div>

    <div class="col-sm-4">
      <%= form.label :c3, :class=>"form-simple-text" %>
      <%= form.text_field :c3 %>
    </div>

    <div class="col-sm-4">
      <%= form.label :c4, :class=>"form-simple-text" %>
      <%= form.text_field :c4 %>
    </div>

    <div class="col-sm-4">
      <%= form.label :c5, :class=>"form-simple-text" %>
      <%= form.text_field :c5 %>
    </div>

    <div class="col-sm-4">
      <%= form.label :c6, :class=>"form-simple-text" %>
      <%= form.text_field :c6 %>
    </div>

    <div class="col-sm-4">
      <%= form.label :c7, :class=>"form-simple-text" %>
      <%= form.text_field :c7 %>
    </div>

    <div class="col-sm-4">
      <%= form.label :c8, :class=>"form-simple-text" %>
      <%= form.text_field :c8 %>
    </div>

    <div class="col-sm-4">
      <%= form.label :c9, :class=>"form-simple-text" %>
      <%= form.text_field :c9 %>
    </div>

    <div class="col-sm-4">
      <%= form.label :c10, :class=>"form-simple-text" %>
      <%= form.text_field :c10 %>
    </div>

    <div class="col-sm-4">
      <%= form.label :c11, :class=>"form-simple-text" %>
      <%= form.text_field :c11 %>
    </div>

    <div class="col-sm-4">
      <%= form.label :c12, :class=>"form-simple-text" %>
      <%= form.text_field :c12 %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
