<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @way_pay.name %>
</p>

<p>
  <strong>C1:</strong>
  <%= @way_pay.c1 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @way_pay.c2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @way_pay.c3 %>
</p>

<p>
  <strong>C4:</strong>
  <%= @way_pay.c4 %>
</p>

<p>
  <strong>C5:</strong>
  <%= @way_pay.c5 %>
</p>

<p>
  <strong>C6:</strong>
  <%= @way_pay.c6 %>
</p>

<p>
  <strong>C7:</strong>
  <%= @way_pay.c7 %>
</p>

<p>
  <strong>C8:</strong>
  <%= @way_pay.c8 %>
</p>

<p>
  <strong>C9:</strong>
  <%= @way_pay.c9 %>
</p>

<p>
  <strong>C10:</strong>
  <%= @way_pay.c10 %>
</p>

<p>
  <strong>C11:</strong>
  <%= @way_pay.c11 %>
</p>

<p>
  <strong>C12:</strong>
  <%= @way_pay.c12 %>
</p>

<p>
  <strong>C13:</strong>
  <%= @way_pay.c13 %>
</p>

<p>
  <strong>C14:</strong>
  <%= @way_pay.c14 %>
</p>

<p>
  <strong>C15:</strong>
  <%= @way_pay.c15 %>
</p>

<p>
  <strong>C16:</strong>
  <%= @way_pay.c16 %>
</p>

<p>
  <strong>C17:</strong>
  <%= @way_pay.c17 %>
</p>

<p>
  <strong>C18:</strong>
  <%= @way_pay.c18 %>
</p>

<p>
  <strong>C19:</strong>
  <%= @way_pay.c19 %>
</p>

<p>
  <strong>C20:</strong>
  <%= @way_pay.c20 %>
</p>

<p>
  <strong>C21:</strong>
  <%= @way_pay.c21 %>
</p>

<p>
  <strong>C22:</strong>
  <%= @way_pay.c22 %>
</p>

<p>
  <strong>C23:</strong>
  <%= @way_pay.c23 %>
</p>

<p>
  <strong>C24:</strong>
  <%= @way_pay.c24 %>
</p>

<%= link_to 'Edit', edit_way_pay_path(@way_pay) %> |
<%= link_to 'Back', way_pays_path %>
