<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item active">Proveedores</li>

</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i>
    Proveedores</div>
  <div class="card-body">
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cuil</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
          <% @providers.each do |provider| %>
            <tr>
              <td><%= provider.name %></td>
              <td><%= provider.cuil %></td>
              <td><%= provider.telephone %></td>
              <td><%= provider.email %></td>
              <td>
                <%= link_to((fa_icon "eye"), provider) %>
                <%= link_to((fa_icon "pencil"), edit_provider_path(provider)) %>
                <%= link_to((fa_icon "trash-o"), provider, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar?' }) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<%= link_to 'Crear Proveedor', new_provider_path, class: 'btn btn-primary' %>