<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Cuil:</strong>
  <%= @provider.cuil %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @provider.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
