<%= form_with(model: footwear, local: true) do |form| %>
  <% if footwear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(footwear.errors.count, "error") %> prohibited this footwear from being saved:</h2>

      <ul>
      <% footwear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku %>
  </div>

  <div class="field">
    <%= form.label :trademark_id %>
    <%= form.text_field :trademark_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :color_id %>
    <%= form.text_field :color_id %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :stock_warning %>
    <%= form.number_field :stock_warning %>
  </div>

  <div class="field">
    <%= form.label :wholesale_price %>
    <%= form.number_field :wholesale_price %>
  </div>

  <div class="field">
    <%= form.label :retail_price %>
    <%= form.number_field :retail_price %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="field">
    <%= form.label :short_description %>
    <%= form.text_field :short_description %>
  </div>

  <div class="field">
    <%= form.label :long_description %>
    <%= form.text_field :long_description %>
  </div>

  <div class="field">
    <%= form.label :footwear_picture_uri %>
    <%= form.text_field :footwear_picture_uri %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date %>
  </div>

  <div class="field">
    <%= form.label :release_country_id %>
    <%= form.text_field :release_country_id %>
  </div>

  <div class="field">
    <%= form.label :size_id %>
    <%= form.text_field :size_id %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :season_id %>
    <%= form.text_field :season_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
