<%= form_with(model: footwear, local: true, html: { class: "form-horizontal" }) do |form| %>
  <% if footwear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(footwear.errors.count, "error") %> prohibited this footwear from being saved:</h2>

      <ul>
      <% footwear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <%= form.label :sku, :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :sku, :disabled => true%>
    </div>
  </div>

  <div class="field row">
    <%= form.label :trademark_id, :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.collection_select :trademark_id, Trademark.all, :id, :to_s, {prompt: "Seleccionar"}, {class: "select2 select-field"} %>
    </div>
  </div>

  <div class="field row">
    <%= form.label :category_id, :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= form.collection_select :category_id, Category.all, :id, :to_s, {prompt: "Seleccionar"}, {class: "select2 select-field"} %>
    </div>
    <%= form.label :color_id, :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= form.collection_select :color_id, Color.all, :id, :to_s, {prompt: "Seleccionar"}, {class: "select2 select-field"} %>
    </div>
  </div>

  <div class="field row">
    <%= form.label :release_date, :class => "col-sm-3 col-form-label", :style=>"padding-right: 0px;"  %>
    <div class="col-sm-3">
      <%= form.text_field :release_date, :class => "datepicker" %>
    </div>
    <%= form.label :release_country_id, :class => "col-sm-3 col-form-label", :style=>"padding-right: 0px;"  %>
    <div class="col-sm-3">
      <%= form.text_field :release_country_id %>
    </div>
  </div>

  <hr>

  <div class="field row">
    <%= form.label :stock, :class => "col-sm-3 col-form-label" %>
    <div class="col-sm-3">
      <%= form.number_field :stock, :placeholder => "0" %>
    </div>
    <%= form.label :stock_warning, :class => "col-sm-3 col-form-label", :style=>"padding-right: 0px;" %>
    <div class="col-sm-3">
      <%= form.number_field :stock_warning, :placeholder => "0" %>
    </div>
  </div>

  <hr>

  <div class="field row">
    <%= form.label :wholesale_price, :class => "col-sm-3 col-form-label", :style=>"padding-right: 0px;" %>
    <div class="col-sm-3">
      <%= form.number_field :wholesale_price, :placeholder => "$ 0.00" %>
    </div>
    <%= form.label :retail_price, :class => "col-sm-3 col-form-label", :style=>"padding-right: 0px;" %>
    <div class="col-sm-3">
      <%= form.number_field :retail_price, :placeholder => "$ 0.00" %>
    </div>
  </div>


  

  <div class="field">
    <%= form.label :size_id %>
    <%= form.text_field :size_id %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :season_id %>
    <%= form.text_field :season_id %>
  </div>

  <div class="field">
    <%= form.text_field :footwear_picture_uri %>
  </div>

  <div class="field">
    <%= form.text_field :short_description %>
  </div>

  <div class="field">
    <%= form.text_field :long_description %>
  </div>


  <div class="field">
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
