<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item active">Calzados</li>

</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i>
    Calzados</div>
  <div class="card-body">
    <div class="table-responsive">
      <table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>Marca</th>
      <th>Categoría</th>
      <th>Stock</th>
      <th>Precio Mayorista</th>
      <th>Precio Minorista</th>
      <th>F. de Elaboración</th>
      <th>Pais de Origen</th>
      <th>Talle</th>
      <th>Temporada</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @footwears.each do |footwear| %>
      <tr>
        <td><%= footwear.sku %></td>
        <td><%= footwear.trademark %></td>
        <td><%= footwear.category %></td>
        <td><%= footwear.stock %></td>
        <td><%= footwear.wholesale_price %></td>
        <td><%= footwear.retail_price %></td>
        <td><%= footwear.release_date %></td>
        <td><%= footwear.release_country %></td>
        <td><%= footwear.size %></td>
        <td><%= footwear.season %></td>
        <td>
          <%= link_to 'Show', footwear %>
          <%= link_to 'Edit', edit_footwear_path(footwear) %>
          <%= link_to 'Destroy', footwear, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<%= link_to 'Cargar Calzado', new_footwear_path, class: 'btn btn-primary' %>