<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=providers_path%>">Calzados</a>
  </li>
  <li class="breadcrumb-item active"><%= @footwear.sku %></li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5" style="max-width: 53rem;">
    <div class="card-header active-<%=@footwear.active%>"><%= @footwear.sku %></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT47Iy_5Ta74Q-2vZ4YhSNbSUYDAFtCsP6ABoHkZBaU3kG9RBOA" class="img-fluid img-thumbnail" alt="San Fran" style="width:204px;height:auto;">
        </div>
        <div class="col-md-8">
          <p>
            <strong>Marca (proveedor):</strong>
            <%= @footwear.trademark%>
          </p>
          <p>
            <strong>Categoría:</strong>
            <%= @footwear.category %>
          </p>
          <p>
            <strong>Color:</strong>
            <%= @footwear.color %>
          </p>
          <p>
            <strong>Talle:</strong>
            <%= @footwear.size %>
          </p>

           <p>
            <strong>Fecha de creación:</strong>
            <%= @footwear.release_date %>
          </p>

          <p>
            <strong>País de origen:</strong>
            <%= @footwear.release_country %>
          </p>
          
          
        </div>


        <div class="col-md-12">
          <br>  

          <% if  @footwear.stock > @footwear.stock_warning %>
            <div class="alert alert-success" role="alert">
             Quedan <strong><%=@footwear.stock%></strong> ejemplares en el inventario.
            </div>
          <% else %>            
            <div class="alert alert-danger" role="alert">
              Quedan <strong><%=@footwear.stock%></strong> ejemplares en el inventario, debería solictar más.
            </div>

          <% end %>

          <ul class="list-group">
            <li class="list-group-item">
              Precio de Lista
              <span style="float:right;"><%= number_to_currency(@footwear.wholesale_price, :unit => "$") %></span>
            </li>
            <li class="list-group-item">
              Precio Contado
              <span style="float:right;">
                <% if  @footwear.retail_price.nil? %>
                  <%= number_to_currency(@footwear.wholesale_price * WayPay.first.c1 , :unit => "$") %>
                <% else %>
                  <%= number_to_currency(@footwear.retail_price, :unit => "$") %>
                <% end %>
              </span>
            </li>

            <li class="list-group-item">
              Precio Tarjeta Visa/Mastercard (3 cuotas)
              <span style="float:right;">
              1 cuota de  <%= number_to_currency(@footwear.calculate_way_pay("Visa/Mastercard", 3) / 3 , :unit => "$")%>  (<%= number_to_currency(@footwear.calculate_way_pay("Visa/Mastercard", 3), :unit => "$") %>)
              </span>
            </li>

            <li class="list-group-item">
              Precio Tarjeta Visa/Mastercard (6 cuotas)
              <span style="float:right;">
                1 cuota de <%= number_to_currency(@footwear.calculate_way_pay("Visa/Mastercard", 6) / 6 , :unit => "$")%>  (<%= number_to_currency(@footwear.calculate_way_pay("Visa/Mastercard", 6), :unit => "$") %>)
              </span>
            </li>

            <li class="list-group-item">
              Precio Tarjeta Visa/Mastercard (12 cuotas)
              <span style="float:right;">
                1 cuota de <%= number_to_currency(@footwear.calculate_way_pay("Visa/Mastercard", 12) / 12 , :unit => "$")%>  (<%= number_to_currency(@footwear.calculate_way_pay("Visa/Mastercard", 12), :unit => "$") %>)
              </span>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <%= link_to 'Editar', edit_footwear_path(@footwear), class: "btn btn-primary" %>
        <%= link_to 'Volver', footwears_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>