<%= form_with(model: size, local: true) do |form| %>
  <% if size.errors.any? %>
    <script type="text/javascript">
      <% size.errors.full_messages.each do |message| %>
        toastr['error']('<%= message %>');
      <% end %>
    </script>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :us %>
    <%= form.text_field :us %>
  </div>

  <div class="field">
    <%= form.label :cms %>
    <%= form.text_field :cms %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
