<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @size.number %>
</p>

<p>
  <strong>Us:</strong>
  <%= @size.us %>
</p>

<p>
  <strong>Cms:</strong>
  <%= @size.cms %>
</p>

<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
