<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Bellina</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=sizes_path%>">Talles</a>
  </li>
  <li class="breadcrumb-item active">Ver</li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Talle <%= @size.number %></div>
    <div class="card-body">
    	<p>
		  <strong>Número:</strong>
		  <%= @size.number %>
		</p>
		<div class="text-center">
			<%= link_to 'Editar', edit_size_path(@size), class: "btn btn-primary" %>
			<%= link_to 'Volver', sizes_path, class: "btn btn-primary" %>
		</div>
    </div>
  </div>
</div>