<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @release_country.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @release_country.name %>
</p>

<%= link_to 'Edit', edit_release_country_path(@release_country) %> |
<%= link_to 'Back', release_countries_path %>
