<!DOCTYPE html>
<html>
  <head>
    <title>Bellina52</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <%= render "layouts/navbar"%>
    <div id="wrapper">
      <%= render "layouts/sidebar"%>
      <div class="container-fluid">
      <%= yield %>  
    </div>

    </div>

    
    
  </body>
</html>
